.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    :global(.candidate) {
        flex-basis: 250px;
    }
}

.header {
    color: var(--c-main);
    font-size: 30px;    
}
