.toggler {
    display: flex;
    margin-bottom: 40px;

    .button {
        margin: 0;
        flex-basis: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    background-color: #ffffff;
}

.input {
    width: 100%;
    margin: 15px 0;
}

.button {
    margin-top: 30px;
}
