.wrapper {
    display: block;
}

.header {
    font-size: 18px;
    text-align: center;
    margin: 15px;
}

.field {
    font-size: 18px;
    outline: none;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid var(--c-main);
}
