.wrapper {
    width: 100%;
}

.header {
    font-size: 22px;
    margin-bottom: 20px;
}

.playerLink {
    width: 100%;
    font-size: 20px;
    border: 2px solid var(--c-main);
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover .link {
        opacity: 1;
    }
}

.link {
    opacity: 0.5;
    transition: .15s opacity;
}

.copyButton {
    opacity: 0.3;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: unset;
    line-height: 0;
    transition: .15s opacity;

    &:hover {
        opacity: 0.5;    
    }

    &:active {
        opacity: 1;
    }
}
