.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.logo {
    margin-bottom: 20px;
}

.header {
    font-size: 22px;
}

.copyButton {
    opacity: 0.3;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: unset;
    line-height: 0;
    transition: .15s opacity;

    &:hover {
        opacity: 0.5;    
    }

    &:active {
        opacity: 1;
    }
}

.player {
    display: block;
    flex-basis: 450px;
    border-radius: 20px;
    border: none;
    overflow: hidden;
}
