.controlWrapper {
    display: flex;
    align-items: center;
}

.button {
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    border: none;
    background-color: transparent;
}

.range {
    flex-basis: 75px;
    flex-shrink: 0;
}
