$common-br = 20px;

.wrapper {
    display: flex;
    flex-direction: column;
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
}

.leftPanel {
    display: flex;
    align-items: center;
}

.rightPanel {
    
}

.button {
    cursor: pointer;
    padding: 10px;
    border: none;
    color: #ffffff;
    background-color: transparent;
}
