.button {
    border: none;
    cursor: pointer;
    padding: 15px 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    transition: .15s transform, .15s opacity, .15s background-color, .15s color;

    &.__view-ordinary {
        background-color: #ffffff;
        color: #000000;
    }

    &.__view-primary {
        background-color: var(--c-main);
        color: #ffffff;
    }

    &.__rounded {
        border-radius: 15px;
    }

    &:not([disabled]):active {
        transform: scale(0.98);
    }

    &[disabled] {
        cursor: default;
        opacity: 0.7;
    }
}
