.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.flows {
    flex-basis: 400px;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: @column-gap;

    :global(.candidate) {
        flex-basis: 350px;
        flex-grow: 1;
    }
}

.buttons {
    display: flex;
    gap: 20px;
}
