.container {
    background: url(/fade.png);
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.themeCommon {
    --c-main: #B1DCFF;
}
